<section class="w-full bg-gradient-to-r from-blue-50 to-blue-100 mt-12 py-6">
    <!-- Container principal -->
    <div class="container mx-auto px-2">
        <!-- Imagem em destaque ocupando toda a largura -->
        <div class="w-full mb-4">
            <img src="/site_feiraEmprego_IPCB/images/Banner_Final.png" alt="Banner IPCB"
                class="w-full h-auto object-contain rounded-lg " />
        </div>
        <!-- /site_feiraEmprego_IPCB/images/Banner_Final.png -->
        <!-- ../images/Banner_Final.png -->

        <!-- Botão alinhado à direita, posicionado abaixo da imagem -->
        <div class="text-right mr-32 mt-4">
            <a href="https://forms.gle/r6kb7UWHh4AUx5Ly7" target="_blank"
                class="bg-orange-500 text-white px-4 py-2 rounded-lg hover:bg-orange-600 transition-colors inline-block">
                Inscreve-te aqui
            </a>
        </div>
    </div>
</section>