<section class="w-full bg-gradient-to-r from-blue-50 to-blue-100 mt-12 py-6">
    <!-- Container principal -->
    <div class="container mx-auto px-4">
        <!-- Imagem em destaque ocupando toda a largura -->
        <div class="w-full should-animate">
            <img src="../images/banner_novo.png" 
                 alt="Banner IPCB"
                 class="w-full h-auto object-contain rounded-lg 
                        transform transition-transform duration-700 hover:scale-[1.02]" />
        </div>
        <!-- /site_feiraEmprego_IPCB/images/banner_novo.png -->
        <!-- ../images/banner_novo.png -->

        <!-- Botão responsivo alinhado abaixo da imagem com margem -->
        <div class="flex justify-start ml-6 md:ml-20 mb-8 md:mb-36"> <!-- Adicionado margem superior e inferior -->
            <a href="https://forms.gle/r6kb7UWHh4AUx5Ly7" target="_blank"
                class="bg-orange-500 text-white px-3 md:px-6 py-2 md:py-3 rounded-lg hover:bg-orange-600 transition-colors inline-block text-xs md:text-lg font-semibold">
                Inscreve-te aqui
            </a>
        </div>
    </div>
</section>
