<section id="sobre" class="py-16">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row items-center ">

            <div class="md:w-1/2 mb-8 md:mb-0">
                <img id="sobreImage" src="./images/img2.png" alt="Sobre o Evento"
                    class="w-full h-auto rounded-lg shadow-lg">
            </div>

            <div class="md:w-1/2 md:pl-8">
                <h2 class="text-3xl font-bold text-center md:text-left mb-8 text-blue-900">Sobre o Evento</h2>
                <p class="text-gray-600 text-center md:text-left">
                    O **IPCB Career Summit 2025** é o ponto de encontro entre talentos e oportunidades. Conectamos
                    estudantes do IPCB com empresas líderes de mercado, promovendo networking, workshops e palestras
                    inspiradoras.
                </p>
                <div class="mt-8 text-center md:text-left">
                    <a href="pages/sobre.html" class="text-orange-500 hover:text-orange-600 underline">
                        Conheça mais sobre o evento →
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>